{% extends 'myapp/base.html' %}

{% block content %}
<head>
<style type="text/css">
body {
    background-color:#b0c4de;
    }
.services{
     background-color:black;
     border-style:solid;
     border-width:10px;
     border-color:yellow;
     h1 {
     color:red;
     text-align:center;
     text-decoration:underline;;
      }
    }
</style>
</head>
<div class ='services'> <h1> <b> Contact Me </b> </h1> </div>

<p1>Email : mr.xyzusername@gmail.com</p1> <br>
<p2>Phone : +91 7355598442 </p2>
    {% endblock %}
%}